<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myhtml.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="todo-screen">
        <div class="connections">
            <h1 class="connection-heading">My Connections</h1>
                <div class="info">
                    <img src="https://www.w3schools.com/images/lamp.jpg"/>
                    <div>
                        <p class="name">Ishita Bansal</p>
                        <p class="username">@ishitaaa</p>
                    </div>
                    <div class="todo-button">
                        
                        <button class="button" style="vertical-align:middle"><span>Create list </span></button>
                        <button class="button" style="vertical-align:middle"><span>View list </span></button>
                    </div>
                </div>
                <div class="info">
                    <img src="https://www.w3schools.com/images/lamp.jpg"/>
                    <div>
                        <p class="name">Ishita Bansal</p>
                        <p class="username">@ishitaaa</p>
                    </div>
                    <div class="todo-button">
                        
                        <button class="button" style="vertical-align:middle"><span>Create list </span></button>
                        <button class="button" style="vertical-align:middle"><span>View list </span></button>
                    </div>
                </div>

        </div>
        
        <div class="make-todo">
            <h1>ASSIGNED TASKS</h1>
            <h3>make sure you complete them before the deadline to earn rewards!</h3>
            <div class="tasks">
                <div class="task">
                    <div class="task-1">
                        <input type="checkbox">
                        <p class="task-title">Task title</p>
                        <p class="task-priority">Priority</p>
                        <p class="task-date">Date</p>
                    </div>
                    <div class="task-desc">
                        <p>- Description</p>
                    </div>
                </div>
                <div class="task">
                    <div class="task-1">
                        <input type="checkbox">
                        <p class="task-title">Task title</p>
                        <p class="task-priority">Priority</p>
                        <p class="task-date">Date</p>
                    </div>
                    <div class="task-desc">
                        <p>- Description</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="score-div">
        <p class="your-score">YOUR SCORE</p>
        <div class="score">
            <p>100 ⭐️</p>
        </div>
    </div>
    
</body>
</html>