<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./tt.css">
</head>
<body>
    <div class="chat-screen">
        <div class="connections">
            <h1 class="connection-heading">My Connections</h1>
                <div class="info">
                    <img src="https://www.w3schools.com/images/lamp.jpg"/>
                    <div>
                        <p class="name">Ishita Bansal</p>
                        <p class="username">How are you today?</p>
                    </div>
                <div class="chat-icon">
                    <img src="img/message-more.svg" alt="">
                </div>
            </div>
            <div class="info">
                <img src="https://www.w3schools.com/images/lamp.jpg"/>
                <div>
                    <p class="name">Ishita Bansal</p>
                    <p class="username">How are you today?</p>
                </div>
            <div class="chat-icon">
                <img src="img/message-more.svg" alt="">
            </div>
        </div>
        </div>
        <div class="chat-screen-area">
            <div class="chat-heading">
                <img src="img/rectangle-1092-1.svg" alt="">
                <p>Stuart</p>
            </div>
            <div class="chat-area">
                <div class="">Hello</div>
                <div class="">how are you</div>

            </div>
            <div class="input-area">
                <input type="text" placeholder="Write your message">
                <button>Send</button>
            </div>
        </div>
        </div>
</body>
</html>