<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="landing">
      <div class="ipad-mini">
        <div class="overlap">
          <div class="profilebanner"></div>
          <img class="arrow-left" src="img/arrow-left.svg" />
          <div class="profilebg"></div>
          <img class="pfp" src="img/pfp.png" />
          <div class="name">Isabella</div>
          <div class="username">@isabella_rossellini</div>
          <div class="location">Noida, India</div>
          <p class="bio">
            Isabella of Catholic Isabella I unified Spain through her marriage to Ferdinand II of Aragon.
          </p>
          <div class="contactdetails">
            <div class="email">
              <div class="overlap-group">
                <div class="emailplaceholder">Email</div>
                <a href="mailto:order@ocean8restaurant.com" target="_blank" rel="noopener noreferrer"
                  ><div class="emailaddress">name@website.com</div></a
                >
              </div>
            </div>
            <div class="website">
              <div class="div">
                <div class="websiteplaceholder">Website</div>
                <div class="websitedotcom">www.website.com</div>
              </div>
            </div>
            <div class="overlap-2">
              <div class="phone">
                <div class="overlap-3">
                  <div class="phoneplaceholder">Phone number</div>
                  <div class="phonenumber">888-888-8888</div>
                </div>
              </div>
              <div class="contact">Contact</div>
            </div>
          </div>
          <div class="gender">
            <div class="overlap-4">
              <div class="gendertext">Gender</div>
              <div class="text-wrapper">F</div>
            </div>
          </div>
          <div class="skills">
            <div class="overlap-5">
              <div class="text-wrapper-2">JAVA</div>
              <img class="divisionn" src="img/divisionn-1.svg" />
              <div class="NODEJS">NODE.JS</div>
              <img class="img" src="img/divisionn-1.svg" />
              <div class="text-wrapper-3">MONGODB</div>
              <div class="text-wrapper-4">SKILLS</div>
            </div>
          </div>
          <div class="interests">
            <div class="overlap-6">
              <div class="text-wrapper-2">JAVA</div>
              <img class="divisionn" src="img/divisionn-1.svg" />
              <div class="NODEJS">NODE.JS</div>
              <img class="img" src="img/divisionn-1.svg" />
              <div class="text-wrapper-3">MONGODB</div>
              <div class="text-wrapper-5">INTERESTS</div>
            </div>
          </div>
          <div class="border">
            <div class="overlap-7">
              <img class="left" src="img/right.svg" />
              <img class="right" src="img/right.svg" />
              <img class="top" src="img/bottom.svg" />
              <img class="bottom" src="img/bottom.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
